<div>
  <mat-toolbar>
    <svg
      width="92px"
      height="38px"
      viewBox="0 0 92 38"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g
        id="Symbols"
        stroke="none"
        stroke-width="1"
        fill="none"
        fill-rule="evenodd"
      >
        <g transform="translate(-66.000000, -68.000000)" fill="#24206B">
          <g id="logoVeloe" transform="translate(66.000000, 68.000000)">
            <path
              d="M84.5997887,27.8985726 C80.4949759,27.8985726 77.3996728,24.8426256 77.3996728,20.7902218 L77.3996728,16.3215303 C77.3996728,11.9424614 80.2931437,9.00028021 84.5997887,9.00028021 C88.9064338,9.00028021 91.8000208,11.9424614 91.8000208,16.3215303 L91.8000208,17.7340309 C91.8000208,19.9928857 90.5522144,20.9586147 89.4837112,20.9586147 L81.7332598,20.9593463 C81.8309243,22.8433715 83.5639178,23.3528179 84.5997887,23.3528179 C85.1763694,23.3528179 85.7054532,23.2533185 86.2181629,23.0485889 C86.3835306,22.9804269 86.7191435,22.8755624 86.8892725,22.8755624 C87.5172983,22.8755624 87.7611693,23.4990185 87.8025112,23.5902263 L88.7872854,25.7706765 C88.7935564,25.7789682 89.1133757,26.6339797 88.386408,27.0161255 C87.2081629,27.6005623 85.9324855,27.8985726 84.5997887,27.8985726 L84.5997887,27.8985726 Z M87.4701499,16.546989 C87.4448338,14.7536839 86.4794532,13.545913 84.5997887,13.545913 C82.7201243,13.545913 81.7547436,14.7536839 81.7294275,16.546989 L87.4701499,16.546989 Z"
            ></path>
            <path
              d="M30.5999411,27.8999993 C26.4952276,27.8999993 23.3999994,24.8437762 23.3999994,20.7910064 L23.3999994,16.3219112 C23.3999994,11.9424467 26.2934003,8.99999976 30.5999411,8.99999976 C34.906482,8.99999976 37.799999,11.9424467 37.799999,16.3219112 L37.799999,17.7345394 C37.799999,19.9935982 36.5522228,20.9594145 35.4837454,20.9594145 L27.7334815,20.9601462 C27.8311437,22.8443415 29.5640952,23.3538339 30.5999411,23.3538339 C31.1765078,23.3538339 31.705695,23.2543256 32.21816,23.0495774 C32.3836399,22.9814093 32.7192446,22.8765353 32.8893695,22.8765353 C33.5173801,22.8765353 33.7612452,23.5000478 33.8027023,23.5912637 L34.7874526,25.771911 C34.7936073,25.7802033 35.1134189,26.6352922 34.3865849,27.0174725 C33.2082521,27.601962 31.9326056,27.8999993 30.5999411,27.8999993 L30.5999411,27.8999993 Z M33.4702329,16.5473903 C33.4449174,14.7539232 32.4795601,13.5460432 30.5999411,13.5460432 C28.7204383,13.5460432 27.755081,14.7539232 27.7296494,16.5473903 L33.4702329,16.5473903 Z"
            ></path>
            <path
              id="blink"
              d="M64.3503033,27.8999993 C59.9888975,27.8999993 56.6999985,24.8082341 56.6999985,20.7083535 L56.6999985,16.4045091 C56.6999985,11.9757018 59.7745181,8.99999976 64.3503033,8.99999976 C68.9258445,8.99999976 71.9999981,11.9757018 71.9999981,16.4045091 L71.9999981,20.7083535 C71.9999981,24.8082341 68.7113431,27.8999993 64.3503033,27.8999993 M64.3503033,13.4629433 C62.4246716,13.4629433 61.4483121,14.3588968 61.4483121,16.1255675 L61.4483121,20.9854664 C61.4483121,22.9207456 63.2725499,23.4370557 64.3503033,23.4370557 C65.4280568,23.4370557 67.2519285,22.9207456 67.2519285,20.9854664 L67.2519285,16.1255675 C67.2519285,14.3588968 66.275569,13.4629433 64.3503033,13.4629433"
            ></path>
            <path
              d="M49.0499539,37.799999 C45.8304636,37.799999 42.9183197,36.5066401 40.8500217,34.1582883 C40.5923786,33.8778881 40.4749654,33.5814502 40.504442,33.2817789 C40.5442787,32.8795443 40.836085,32.6407902 40.8979983,32.594488 L42.9766563,30.9013518 C43.0380763,30.8454787 43.3308693,30.5999992 43.7376223,30.5999992 C44.0434886,30.5999992 44.326415,30.7364486 44.5782615,31.0057259 C45.7179837,32.1603074 47.3078722,32.798968 49.0499539,32.798968 C50.7921589,32.798968 52.3820474,32.1603074 53.5265796,31.0006818 C53.7734927,30.7364486 54.0564191,30.5999992 54.3624088,30.5999992 C54.7692851,30.5999992 55.0619548,30.8454787 55.1233747,30.9012225 L57.2020328,32.594488 C57.2638227,32.6407902 57.5557524,32.8795443 57.5955891,33.2817789 C57.6249424,33.5814502 57.5076525,33.8778881 57.2464327,34.162427 C55.1814647,36.5066401 52.2693208,37.799999 49.0499539,37.799999"
            ></path>
            <path
              d="M51.0930852,27.8999993 C47.4487074,27.8999993 44.9999988,25.2599359 44.9999988,21.3304885 L44.9999988,0.845995201 C44.9999988,0.379544762 45.360347,0 45.8030637,0 L48.7928705,0 C49.235472,0 49.595705,0.379544762 49.595705,0.845995201 L49.595705,21.0295958 C49.595705,22.2747987 50.13784,22.9095986 51.2069036,22.9095986 L52.2970489,22.9093558 C52.7397656,22.9093558 53.0999986,23.2887792 53.0999986,23.7554724 L53.0999986,27.0540041 C53.0999986,27.5205759 52.7397656,27.8999993 52.2970489,27.8999993 L51.0930852,27.8999993 Z"
            ></path>
            <path
              d="M18.8161839,11.3495779 C18.7182183,11.149279 18.5469607,10.9984896 18.3304882,10.9238684 L15.3509224,9.94700987 C15.2604925,9.91582846 15.1662948,9.89999974 15.0708816,9.89999974 C14.711107,9.89999974 14.3702935,10.1260054 14.2660074,10.4669776 L11.115184,21.1287556 C11.0327762,21.407008 10.9390646,21.6647901 10.8358725,21.8962703 C10.5893783,22.4572975 10.0323354,22.8339736 9.45001098,22.8339736 C8.86756506,22.8339736 8.31064368,22.4572975 8.0640279,21.8962703 C7.96083579,21.6647901 7.86712423,21.407008 7.78483794,21.1287556 L4.63401453,10.4669776 C4.52960696,10.1260054 4.18891499,9.89999974 3.82914037,9.89999974 C3.73372717,9.89999974 3.63952943,9.91582846 3.54909959,9.94700987 L0.569533756,10.9238684 C0.35306126,10.9984896 0.181803682,11.149279 0.0838380274,11.3495779 C-0.0140060821,11.5498767 -0.0266468117,11.7749303 0.0482252025,11.983322 L3.57438105,23.5459093 C4.10893806,25.211496 5.15009662,26.4839828 6.65470809,27.2595904 C7.80136813,27.8375174 8.87425006,27.8999997 9.28227823,27.8999997 L9.45001098,27.8999997 L9.61774374,27.8999997 C10.0257719,27.8999997 11.0985323,27.8375174 12.2451923,27.2595904 C13.7498038,26.4839828 14.7910839,25.211496 15.3256409,23.5459093 L18.8516752,11.983322 C18.9266688,11.7749303 18.9140281,11.5498767 18.8161839,11.3495779"
            ></path>
          </g>
        </g>
      </g>
    </svg>
  </mat-toolbar>
  <div class="container">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-between" 
      fxLayoutGap="24px"
      class="my-3"
    >
      <div fxFlex="33">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{report?.entries}}</mat-card-title>
            <mat-card-subtitle>lançamentos</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div fxFlex="33">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{report?.remittances}}</mat-card-title>
            <mat-card-subtitle>remessas</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div fxFlex="33">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{formatMoney(report?.totalEntries || 0)}}</mat-card-title>
            <mat-card-subtitle>total</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <div
      fxLayout="row wrap"
      fxLayout.xs="column"
    >
      <div fxFlex.sm="33%" fxFlex.md="33%" fxFlex.lg="33%" class="mb-3">
        <h2 class="mat-h2">Total x Dia</h2>
        <div fxLayout="row" fx fxLayoutAlign="center center">
          <ngx-charts-bar-vertical
            [view]="[350, 250]"
            [results]="report1"
            [xAxis]="true"
            [yAxis]="true"
            [yAxisTickFormatting]="yAxisTickCurrencyFormatting"
          ></ngx-charts-bar-vertical>
        </div>
      </div>
      <div fxFlex.sm="33%" fxFlex.md="33%" fxFlex.lg="33%" class="mb-3">
        <h2 class="mat-h2">Quantidade x Dia</h2>
        <div fxLayout="row" fx fxLayoutAlign="center center">
          <ngx-charts-bar-vertical
            [view]="[350, 250]"
            [results]="report2"
            [xAxis]="true"
            [yAxis]="true"
            [yAxisTickFormatting]="yAxisTickNumberFormatting"
          ></ngx-charts-bar-vertical>
        </div>
      </div>
      <div fxFlex.sm="33%" fxFlex.md="33%" fxFlex.lg="33%" class="mb-3">
        <h2 class="mat-h2">Banco x Total</h2>
        <div fxLayout="row" fx fxLayoutAlign="center center">
          <ngx-charts-pie-chart
            [view]="[350, 250]"
            [results]="report3"
            [labels]="true"
          ></ngx-charts-pie-chart>
        </div>
      </div>
    </div>
  </div>
</div>
